<body> 
  <li>
    <%= link_to "商品一覧",items_path %>
  </li>
  <li>
    <%= link_to "カート内商品一覧",cart_items_path %>
  </li>
  <li>
    <%= link_to "マイページへ",customers_my_page_path %>
  </li>
</body> 


<h1>ECサイト　トップページ</h1>

