<h1>退会画面</h1>
<div class="destroy">
  <%= link_to "退会する",customers_withdraw_path, method: :PATCH, data: {confirm: "本当に退会してもよろしいですか?"} , class: "glyphicon glyphicon-tint btn btn-danger" %>
  <%=link_to"退会しない",customers_my_page_path %>
</div>