<h1>商品一覧</h1>

<table class="item-table">
    <tr class="item-table-title">
        <th>商品画像</th>
        <th>商品名</th>
        <th>商品説明</th>
        <th>税抜価格</th>
        <th></th>
    </tr>
    <% @items.each do |item| %>
    <tr>
        <th>
        <%= link_to (attachment_image_tag item,:image,fallback: "no_image.jpg",size: "50x50"),item_path(item.id) %>
        </th>
        <th><%=item.name %></th>
        <th><%=item.introduction%></th>
        <th><%=item.price%>円</th>
    </tr>
    <% end %>
</table>
